.inputpassworddd{
    background: none;
    width: 14.5vw;
    height: 8vh;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    border-color: white;
    font-size: 15px;
    margin-left: 0vw;
}

.inputpassword-group input:focus{
    outline: none;
    border-color: #381D04;
}
.inputpassword-group input::placeholder {
    color: white;
  }
  .inputpassword-group{
    position: relative;
  }
  .inputpassword-group .toggle-password {
    
    position: absolute;
    top: 55%;
    right: 10px;
    width: 2vw;
    height: 5vh;
    transform: translateY(-50%);
    
    border: none;
    font-size: 1.2em;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  
  .inputpassword-group .toggle-password:focus {
    outline: none;
  }